/*--------------------------------
	mixins & functions
--------------------------------*/

// We use this to create isosceles triangles
// $triangle-size - Used to set border-size. No default, set a px or em size.
// $triangle-color - Used to set border-color which makes up triangle. No default
// $triangle-direction - Used to determine which direction triangle points. Options: top, bottom, left, right
@mixin triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}

//bring back the "em-calc" functionality
/*
@function em-calc($args...) {
  @return -zf-bp-to-em($args...)
}
*/
  
@function em-calc($desiredFontSize, $baseFontSize:16) {
  @return -zf-bp-to-em($desiredFontSize)* 16/$baseFontSize
}


//shortcut for color mapping
@function color($key) {
  @if not map-has-key($colors, $key) {
    @error "Key `#{$key}` not found in $colors map.";
  }
  @return map-get($colors, $key);
}


//vertical align without flexbox
//http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}