$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px
);

$breakpoint-classes: (small medium large xlarge xxlarge);
$global-radius: 5px;
$elementSpacing: 1rem;