/*--------------------------------
	imports
--------------------------------*/

@import 'settings';

// Foundation
@import './node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-responsive-embed;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-table;
@include foundation-visibility-classes;
@include foundation-float-classes;

/*--------------------------------
	baseline lightcms element styling
--------------------------------*/
@import "mixins";
@import "lcms-components/reset.scss";
@import "lcms-components/admin";
@import "lcms-components/elements/blog";
@import "lcms-components/elements/calendar";
@import "lcms-components/elements/forms";
@import "lcms-components/elements/image";
@import "lcms-components/tokens/social-icons";



/*--------------------------------
  Main styles & utilities
--------------------------------*/

.element{
  margin-bottom: $elementSpacing;
  
  &.noElementSpacing{
    margin-bottom:0;
  }
  
  &.smallElementSpacing{
    margin-bottom:$elementSpacing/2;
  }
  
  &.largeElementSpacing{
    margin-bottom:$elementSpacing*2;
  }
}