/*---------------------------------------------
-----------------------------------------------

  Social media icons

-----------------------------------------------
---------------------------------------------*/
@mixin lcms_social_icons(){
  
  .socialMedia{
    margin:0;
    padding:0;
    line-height:1;
  
    @include breakpoint(small only) {
      text-align: center;
    }
  
    li{
      list-style-type: none;
      display: inline-block;
      height:auto;
      width:auto;
      //display:table-cell;
      text-align: center;
      float:none;
      margin:0;
  
      a{
        background:none !important;
        position:relative;
        font-size:16px;
        width:1em;
        line-height:1;
        display: block;
        text-indent: 9999px;
        overflow: hidden;
  
        @include breakpoint(large) {
          font-size:24px;
        }
  
        &:before{
          display: block;
          line-height:1;
          font-family:FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          position:absolute;
          width:100%;
          height:100%;
          text-align: center;
          text-indent:0;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
  
        &.facebook:before{
          content: "\f09a";
        }
  
        &.twitter:before{
          content: "\f099";
        }
  
        &.linkedin:before{
          content: "\f0e1";
        }
  
        &.pintrest:before{
          content: "\f0d2";
        }
  
        &.googleplus:before{
          content: "\f0d5";
        }
  
        &.tumblr:before{
          content: "\f173";
        }
  
        &.instagram:before{
          content: "\f16d";
        }
  
        &.youtube:before{
          content: "\f16a";
        }
  
        &.vimeo:before{
          content: "\f27d";
        }
  
        &.phonenumber:before{
          content: "\f095";
        }
  
        &.emailaddress:before{
          content: "\f0e0";
        }
  
        &.flickr:before{
          content: "\f1e9";
        }
      }
    }
  }  
}
