/*--------------------------------
----------------------------------

  Blog element

----------------------------------
--------------------------------*/

@mixin lcms_blog( 
  $blogListPostPadding: 0 0 0.5em 0,
  $blogListFeaturedImageWidth: 100%,
  $blogListFeaturedImageMaxWidth: 100%,
  $blogListFeaturedImageMargin: 0 0 1em 0,
  $blogListFeaturedImagePadding: 0,
  
  $blogListThumbnailWidth: 20%,
  $blogListThumbnailFloat: left,
  $blogListThumbnailPadding: 0 1em 0 0,
  
  $blogListThumbnailImageWidth: 100%,
  $blogListThumbnailImageMaxWidth: 100%,
  $blogListThumbnailImageMargin: 0,
  $blogListThumbnailImagePadding: 0,
  
  $blogListContentWithThumbnailWidth: 75%,
  $blogListContentWithThumbnailFloat: left,
  
  $blogListTitleMargin: 0,
  $blogListTitleLineHeight: 1.2,
  $blogListTitleLinkColor: $body-font-color,
  $blogListTitleLinkColorHover: $anchor-color-hover,
  $blogListTitleFontSize: em-calc(16),
  $blogListTitleFontWeight: normal,
  
  $blogListPostInfoColor: $colorGrey,
  $blogListPostInfoFontSize: em-calc(12),
  
  $blogArchiveTitleFontSize: 1em,
  $blogArchiveTitleColor: $body-font-color,
  $blogArchiveTitleColorHover: $anchor-color-hover,
  $blogArchiveTitleBackground: $colorSuperLightGrey,
  $blogArchiveTitlePadding: 0.3em 0.5em,
  $blogArchiveTitleBorderBottom:1px solid #fff,
  $blogArchiveGroupPadding: 0.5em 0 0.5em 2em
){
  
  /*--------------------------------
  	global blog styles
  --------------------------------*/
  .blogsElement{ 
    
    .blogList{
      > ul{
        margin-left:0;
        
        > li{
          padding: $blogListPostPadding;
          list-style: none;
          @include clearfix;
          
          .postFeaturedImage{
            a{
              img{
                width: $blogListFeaturedImageWidth;
                max-width: $blogListFeaturedImageMaxWidth;
                margin: $blogListFeaturedImageMargin;
                padding: $blogListFeaturedImagePadding;
              }
            }
          }
          
          .postThumb{
            width:$blogListThumbnailWidth;
            float:$blogListThumbnailFloat;
            padding:$blogListThumbnailPadding;
            
            a{
              img{
                width: $blogListThumbnailImageWidth;
                max-width: $blogListThumbnailImageMaxWidth;
                margin: $blogListThumbnailImageMargin;
                padding: $blogListThumbnailImagePadding;
              }
            } 
          }
          
          .postThumb + .postContent{
            //post thumbnail is visible
            float: $blogListContentWithThumbnailFloat;
            width: $blogListContentWithThumbnailWidth;
          }
          
          .postContent{          
            .postTitle{
              line-height: $blogListTitleLineHeight;
              font-size: $blogListTitleFontSize;
              font-weight: $blogListTitleFontWeight; 
              margin: $blogListTitleMargin;
              
              a{
                color: $blogListTitleLinkColor;
                
                &:hover{
                  color: $blogListTitleLinkColorHover;
                }
              }  
            } 
            .postInfo{
              color: $blogListPostInfoColor;
              font-size: $blogListPostInfoFontSize;
              
              .postDate{
                
              }
              
              em{ //hook for comment count
                font-style: normal;
              }
            }
          }
        }
      }
    }
    
  /*
    .blogList:not(.tagList){
      @include clearfix;
    }
    
  */
    > .tagList{
      margin-left:0;
      
      .tag{
        padding-bottom:0;
        list-style: none;
        
        a{
          &:before{
            content:"\f02b";
            display: inline-block;
            font-family: 'FontAwesome';
            color:$colorLightGrey;
            margin-right:0.3em;
            width:1em;
          }
          
          &:hover{         
            &:before{
              color:$colorGrey;
            }
          }
        }
        
        .tagCount{
          color:$colorLightGrey;
        }
      }
    }
    
    > .tagCloud{
      
    }
    
    > .archive{
      > ul > li{
        margin: 0;
        padding: 0;
        
        > .postTitle{
          font-size: $blogArchiveTitleFontSize;
          line-height: 1;
          margin-bottom: 0;
          
          a{
            color: $blogArchiveTitleColor;
            background: $blogArchiveTitleBackground;
            display: block;
            padding: $blogArchiveTitlePadding;
            border-bottom:$blogArchiveTitleBorderBottom;
            
            &:before{
              content:"\f073";
              display: inline-block;
              font-family: 'FontAwesome';
              color:$colorLightGrey;
              margin-right:0.3em;
              width:1em;
            }
            
            &:hover{           
              color: $blogArchiveTitleColorHover;
              
              &:before{
                color:$colorGrey;
              }
            }
          }      
        }
        
        > .postInfo{
          display:none;
        }
      }
      
      .postArchiveGroup{
        padding:$blogArchiveGroupPadding;
        margin:0;
        
        > ul > li{
          list-style: none;
          padding: $blogListPostPadding;
          
          .postTitle{
            line-height: $blogListTitleLineHeight;
            font-size: $blogListTitleFontSize;
            font-weight: $blogListTitleFontWeight; 
            margin: $blogListTitleMargin;
            
            a{
              color: $blogListTitleLinkColor;
              
              &:hover{
                color: $blogListTitleLinkColorHover;
              }
            }  
          } 
          .postInfo{
            color: $blogListPostInfoColor;
            font-size: $blogListPostInfoFontSize;
            
            .postDate{
              
            }
            
            em{ //hook for comment count
              font-style: normal;
            }
          }        
        }      
      }
    }
    
    
    .rss{
      display:none;
    }
  }
  
  .blogBack{
    display:none;
  }
  
  .postViewInfo{
    padding: 0;
    font-size: em-calc(12);
    display: block;
    margin:0;
    border:0;
    
    span,
    em{
      font-style: normal;
      color: $colorGrey;
      display: none;
    }
    
    ul.postViewTags{
    	margin:0;
    	padding:0 !important;
    	list-style:none;
    	margin-bottom: 0 !important;
    	display:block;
      
      &:before{
        display:none;
      }
    
      li, a{
        display:inline-block;
        height:24px;
        line-height:24px;
        position:relative;
        font-size:11px;
        margin-bottom:4px;
      }  
      
      li{
        line-height:50px;
        
        &:before,
        &:after{
          display:none;
        }
      }
      
      a{
        margin-right:5px !important;
        margin-left:10px;
        padding:0 10px 0 12px;
        background:$colorSuperLightGrey;
        color:#777;
        text-decoration:none;
        -moz-border-radius-bottomright:4px;
        -webkit-border-bottom-right-radius:4px;	
        border-bottom-right-radius:4px;
        -moz-border-radius-topright:4px;
        -webkit-border-top-right-radius:4px;	
        border-top-right-radius:4px;	
        transition:none;
        
        &:before{
          content:"";
          float:left;
          position:absolute;
          top:0;
          left:-12px;
          width:0;
          height:0;
          border-color:transparent $colorSuperLightGrey transparent transparent;
          border-style:solid;
          border-width:12px 12px 12px 0;		
        }
        
        &:after{
        	content:"";
        	position:absolute;
        	top:10px;
        	left:0;
        	float:left;
        	width:4px;
        	height:4px;
        	-moz-border-radius:2px;
        	-webkit-border-radius:2px;
        	border-radius:2px;
        	background:#fff;
        	-moz-box-shadow:-1px -1px 2px #333;
        	-webkit-box-shadow:-1px -1px 2px #333;
        	box-shadow:-1px -1px 2px #333;
      	}
      	
      	&:hover{
        	background:$colorLightGrey;
        	color:#000;    	
        	
        	&:before{
          	border-color:transparent $colorLightGrey transparent transparent;
        	}
      	}
      } 
      
      
      
    
      span{
        display:none;
      }
    }
  }
  
  div.comments{
    //padding-top: 1em;
    //border-top: 1px solid $colorLightGrey;
    margin-top: 3.25em;
    
    dl{
      margin:0;
    }
    
    dt{
      background: transparent;
      border-top:1px solid $colorLightGrey;
      border-bottom:0;
      padding: 1em 1em 0.5em;
      font-size:em-calc(14);
      font-weight: normal;
    }
    
    dd{
      background: transparent;
      padding:0 1em 1em;
    }
    
    .alternate{
      background:$colorSuperLightGrey;
    }
    
    .commentDate{
      margin: 0.5em 0;
      font-style: normal;
      color: $colorGrey;
      font-size: em-calc(12);
    }
  }
  
  .commentsHead{
    display: none;
  }
  
  .commentsForm{
  
    .addComment{
      border-top: 1px solid $colorLightGrey;
      padding-top:1em;
      margin-top:0;
    }
    
    .note{
      display: none;
    }
      
    .submitComment{
      @include button-style();
    }
  }
  
  
  /*--------------------------------
  	pagination
  --------------------------------*/
  
  /*--------------------------------
  ----------------------------------
  
    Pagination
  
  ----------------------------------
  --------------------------------*/
  
  div.pagination {
    width: 100%;
    float: none;
    text-align: center;
    
    ul {
      width: auto;
      float: none;
      list-style: none;
      display: inline-block;
      //border: none;
      font-size: em-calc(14);
      margin: 5px 0 10px;
      padding: 0;
      
      li {
        //border: 0;
        background: transparent;
        color: inherit;
        list-style: none;
        float: none;
        display:block;
        float:left;
        line-height:1;
        min-width:2em;
        
        a {
          color:#666;
          text-decoration: none;
          
          &:hover{
            color:#fff;
            background: $primary-color;
          }
        }
      }
      li.page.current {
        color: #000;
        font-weight: 700;
        background: $colorSuperLightGrey;
        position: relative;
        border: 1px solid #999;
        top: -0.2em;
        line-height: 1.3em;
        margin-bottom: -0.5em !important;
        margin-left: -1px !important;
        padding:10px !important;
      }
    }
  }
  
  
  /*--------------------------------
  	dynamic body classes
  --------------------------------*/
  
  //all blog post detail pages.
  .dynamic-blogdetail{}
  
  //all blog tag pages.
  .dynamic-tags{
    
    .main{
      .element{
        > h1.title{
          border: 1px solid $colorLightGrey;
          background: $colorSuperLightGrey;
          padding: 1em;
          color:$colorGrey;
          font-size: em-calc(16);
          font-family: $header-font-family;
          font-weight: normal;
          text-align: center;
          margin-bottom:2em;
        }
      }
    }
    
  }
}