/*--------------------------------
----------------------------------

  Calendar element

----------------------------------
--------------------------------*/

/*--------------------------------
	calendar view
--------------------------------*/

@mixin lcms_calendar_classic(
  //title
  $calendarTitleFontSize: em-calc(22),
  $calendarTitleFontFamily: $body-font-family,
  
  //next/prev links
  $calendarNextPrevColor: $colorGrey,
  $calendarNextPrevColorHover: $primary-color,
  $calendarNextPrevTextTransform: uppercase,
  $calendarNextPrevFontSize: em-calc(14),
  $calendarNextPrevFontWeight: normal,
  $calendarNextPrevFontFamily: $body-font-family,
  $calendarNextPrevIconFontSize: inherit,
  $calendarNextPrevIconFontFamily: inherit,
  
  $calendarNextIcon: "\00bb",
  $calendarPrevIcon: "\00ab",
  
  
  //day headers
  $calendarDayHeaderBackground: #eee,
  $calendarDayHeaderColor: #999,
  $calendarDayHeaderHeight: auto,
  $calendarDayHeaderTextAlign: center,
  $calendarDayHeaderTextTransform: uppercase,
  $calendarDayHeaderFontWeight: normal,
  $calendarDayHeaderFontSize: em-calc(12),
  $calendarDayHeaderFontFamily: $body-font-family,
  $calendarDayHeaderPadding: 5px,
  $calendarDayHeaderBorder: 1px solid #ddd,
  
  //normal calendar days (settings apply to other month days, weekends, and today)
  $calendarDayBackground: #fff,
  $calendarDayColor: #aaa,
  $calendarDayHeight: rem-calc(80),
  $calendarDayTextAlign: left,
  $calendarDayFontWeight: normal,
  $calendarDayFontSize: em-calc(11),
  $calendarDayFontFamily: $body-font-family,
  $calendarDayPadding: 5px,
  $calendarDayBorder: 1px solid #ddd,
  
  //other month days
  $calendarOtherMonthDayBackground: #fafafa,
  $calendarOtherMonthDayColor: #ccc,
  
  //weekends
  $calendarWeekendDayBackground: #fefefe,
  $calendarWeekendDayColor: #dbdbdb,
  
  //today
  $calendarTodayBackground: #ffffec,
  $calendarTodayColor: #222,
  $calendarTodayBoxShadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.05),
  
  
  //calendar events
  $calendarLinkColor: $anchor-color,
  $calendarLinkColorHover: $anchor-color-hover,
  $calendarLinkFontSize: em-calc(13, 11), //1.18em, //em-calc(13), - didn't work because container font size has to be set to 11px
  
  $calendarMetaColor: #aaa,
  $calendarMetaFontSize: inherit,
  
  //responsive calendar
  $responsiveCalendarTopBorder: 1px solid #DDD,
  
  $responsiveCalendarNextPrevIconFontSize: rem-calc(30),
  
  $responsiveCalendarDayOfMonthFontSize: em-calc(16),
  $responsiveCalendarDayOfMonthFontWeight: normal,
  $responsiveCalendarDayOfMonthColor: #222,
  
  $responsiveCalendarLinkColor: $anchor-color,
  $responsiveCalendarLinkFontSize: em-calc(14),
  
  $responsiveCalendarEventTime: em-calc(11)
){

  /*--------------------------------
  	calendar view
  --------------------------------*/
  
  .eventsCalendar table {
    border: none !important;
    width: 100%;
    border-collapse: collapse;
    
    > tbody > tr:first-child > td{
      background:transparent !important; //override hard-coded "background-color:Silver;"
      
      td{
        padding:0;
      }
    }
    
    tbody{
      border:0;
    }
    
    table {
      border: none !important;
      width: 100%;
      border-collapse: collapse;
      margin-bottom:0;
      
      td {
        border: none!important;
        width: 100%;
        border-collapse: collapse;
      }
    }
  }
  
  //calendar header
  
  .calendarTitle{
    td[align="center"]{
      font-size: $calendarTitleFontSize;
      font-family: $calendarTitleFontFamily;
      color:#222;
      padding-bottom:em-calc(10);
      width:50% !important;
      text-align:center;
    }
  /*
    td {
      padding: 2px;
      border: 1px solid #ddd;
      background: #fff;
    }
  */
  }
  
  
  //calendar navigation
  .calendarNextPrevious {
    font-weight: 400;
    width:25% !important;
    
    a {
      color: $calendarNextPrevColor !important;
      font-weight: $calendarNextPrevFontWeight;
      text-transform: $calendarNextPrevTextTransform;
      font-size: $calendarNextPrevFontSize;
      font-family: $calendarNextPrevFontFamily;
      
      &:hover{
        color: $calendarNextPrevColorHover !important;
      }
      
      &:before,
      &:after{
        font-size: $calendarNextPrevIconFontSize;
        font-family: $calendarNextPrevIconFontFamily;
      }
    }
    
    //previous month link
    &:first-child{ 
      text-align: left !important;
      padding:0 0 0 1em;
      
      a{
        &:before{
          display:inline-block;
          content: $calendarPrevIcon;
          margin-right:3px;
        }
      }
    }
    
    //next month link
    &:last-child{
      text-align: right !important;
      padding:0 1em 0 0;
  
      a{
        &:after{
          display:inline-block;
          content: $calendarNextIcon;      
          margin-left:3px;
        }
      }
    }
  }
  
  .calendarDayHeader {
    background: $calendarDayHeaderBackground;
    color: $calendarDayHeaderColor;
    height: $calendarDayHeaderHeight;
    text-align: $calendarDayHeaderTextAlign;
    text-transform: $calendarDayHeaderTextTransform;
    font-weight: $calendarDayHeaderFontWeight;
    font-size: $calendarDayHeaderFontSize;
    padding: $calendarDayHeaderPadding;
    border: $calendarDayHeaderBorder;
  }
  
  
  //calendar days
  
  .calendarOtherMonthDay,
  .calendarDay,
  .calendarWeekendDay,
  .calendarToday{
    background: $calendarDayBackground;
    border: $calendarDayBorder;
    height: $calendarDayHeight !important;
    overflow-y: auto;
    padding: $calendarDayPadding !important;
    vertical-align: top;
    color: $calendarDayColor;
    font-size: $calendarDayFontSize;
    text-align: $calendarDayTextAlign;
    font-weight: $calendarDayFontWeight;
    font-family: $calendarDayFontFamily;
    
    a{
      display:block;
      font-size: $calendarLinkFontSize;
      line-height: 1.2;
      color: $calendarLinkColor;
      
      &:hover{
        color: $calendarLinkColorHover;
      }
    }
    
    span{
      //display:block;
      color: $calendarMetaColor;
      font-size: $calendarMetaFontSize;
      
      &:before{
        display:none;
      }
    }
  }
  .calendarOtherMonthDay {
    color: $calendarOtherMonthDayColor;
    background: $calendarOtherMonthDayBackground;
  }
  
  .calendarWeekendDay {
    background: $calendarWeekendDayBackground;
    color: $calendarWeekendDayColor;
  }
  .calendarToday {
    color: $calendarTodayColor;
    background: $calendarTodayBackground;
    box-shadow: $calendarTodayBoxShadow;
  }
  
  .dayOfMonth{
    display:inline;
  }
  
  
  /*--------------------------------
  	calendar view (responsive)
  --------------------------------*/
  
  @include breakpoint(small only) {
    .eventsCalendar{
      .calendarDayHeader{
        display: none;
      }
      
      tr:nth-child(n+3){
        background:transparent;
      }
      
      td{
        display: none;
        background: transparent !important;
        box-shadow: none !important;
        
        &[colspan="7"]{
          display: block;
          
          td{
            display: inline-block;
            text-align: left;
            padding-bottom:0.5em;
            width:auto !important;
            
            &.calendarNextPrevious{
              //display: none;
              padding:0 !important;
              
              a{
                font-size:0;
                
                
                &:before,
                &:after{
                  font-size: $responsiveCalendarNextPrevIconFontSize;
                }
              }
            }
          }
        }
        
        &.hasEvents{
          display: block;
          height: auto !important;
          width:100% !important;
          border: 0;
          border-top: $responsiveCalendarTopBorder;
          padding-top: 0.5em !important;
          padding-bottom: 0.5em !important;
          font-size:1em;
          
          a{
            display: block;
            font-size: $responsiveCalendarLinkFontSize;
            margin-top:0.5em;
            color: $responsiveCalendarLinkColor;
          }
          
          br + br,
          span + br{
            display: none;
          }
        
          .dayOfMonth{
            display: block;
            font-weight: $responsiveCalendarDayOfMonthFontWeight;
            font-size: $responsiveCalendarDayOfMonthFontSize;
            color: $responsiveCalendarDayOfMonthColor;
            
            + br{
              display:none; //emove blank line after day of month
            }
          }
          
          .eventTime{
            font-size: $responsiveCalendarEventTime;
            display: block;
            margin-bottom: 0.5em;
          }
        }
        
      	&:nth-of-type(1n) .dayOfMonth:before { content: 'Sunday '; }
      	&:nth-of-type(2n) .dayOfMonth:before { content: 'Monday '; }
      	&:nth-of-type(3n) .dayOfMonth:before { content: 'Tueday '; }
      	&:nth-of-type(4n) .dayOfMonth:before { content: 'Wednesday '; }
      	&:nth-of-type(5n) .dayOfMonth:before { content: 'Thursday '; }
      	&:nth-of-type(6n) .dayOfMonth:before { content: 'Friday '; }
      	&:nth-of-type(7n) .dayOfMonth:before { content: 'Saturday '; }
      }
    }
  }
  
}


@mixin lcms_calendar(
  //title
  $calendarTitleFontSize: em-calc(22),
  $calendarTitleFontFamily: $body-font-family,
  
  //next/prev links
  $calendarNextPrevColor: $colorGrey,
  $calendarNextPrevColorHover: $primary-color,
  $calendarNextPrevTextTransform: uppercase,
  $calendarNextPrevFontSize: em-calc(14),
  $calendarNextPrevFontWeight: normal,
  $calendarNextPrevFontFamily: $body-font-family,
  $calendarNextPrevIconFontSize: inherit,
  $calendarNextPrevIconFontFamily: inherit,
  
  $calendarNextIcon: "\00bb",
  $calendarPrevIcon: "\00ab",
  
  
  //day headers
  $calendarDayHeaderBackground: #eee,
  $calendarDayHeaderColor: #999,
  $calendarDayHeaderHeight: auto,
  $calendarDayHeaderTextAlign: center,
  $calendarDayHeaderTextTransform: uppercase,
  $calendarDayHeaderFontWeight: normal,
  $calendarDayHeaderFontSize: em-calc(12),
  $calendarDayHeaderFontFamily: $body-font-family,
  $calendarDayHeaderPadding: 5px,
  $calendarDayHeaderBorder: 1px solid #ddd,
  
  //normal calendar days (settings apply to other month days, weekends, and today)
  $calendarDayBackground: #fff,
  $calendarDayColor: #aaa,
  $calendarDayHeight: rem-calc(80),
  $calendarDayTextAlign: left,
  $calendarDayFontWeight: normal,
  $calendarDayFontSize: em-calc(11),
  $calendarDayFontFamily: $body-font-family,
  $calendarDayPadding: 5px,
  $calendarDayBorder: 1px solid #ddd,
  
  //other month days
  $calendarOtherMonthDayBackground: #fafafa,
  $calendarOtherMonthDayColor: #ccc,
  
  //weekends
  $calendarWeekendDayBackground: #fefefe,
  $calendarWeekendDayColor: #dbdbdb,
  
  //today
  $calendarTodayBackground: #ffffec,
  $calendarTodayColor: #222,
  $calendarTodayBoxShadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.05),
  
  
  //calendar events
  $calendarLinkColor: $anchor-color,
  $calendarLinkColorHover: $anchor-color-hover,
  $calendarLinkFontSize: em-calc(13, 11), //1.18em, //em-calc(13), - didn't work because container font size has to be set to 11px
  
  $calendarMetaColor: #aaa,
  $calendarMetaFontSize: inherit,
  
  //responsive calendar
  $responsiveCalendarTopBorder: 1px solid #DDD,
  
  $responsiveCalendarNextPrevIconFontSize: rem-calc(30),
  
  $responsiveCalendarDayOfMonthFontSize: em-calc(16),
  $responsiveCalendarDayOfMonthFontWeight: normal,
  $responsiveCalendarDayOfMonthColor: #222,
  
  $responsiveCalendarLinkColor: $anchor-color,
  $responsiveCalendarLinkFontSize: em-calc(14),
  
  $responsiveCalendarEventTime: em-calc(11)
){

  /*--------------------------------
  	calendar view
  --------------------------------*/
  
  //calendar header
  
  .date-picker-header{
    background: transparent; //$calendarHeaderBackground;
    
    .date-picker-title{
      font-size: $calendarTitleFontSize;
      font-family: $calendarTitleFontFamily;
      color:#222;
      text-align:center;
    }
  }
  
  
  //calendar navigation
  .date-picker-select {
    font-weight: 400;
    width:25% !important;
    padding:0;
    margin:0;
    
    a {
      color: $calendarNextPrevColor !important;
      font-weight: $calendarNextPrevFontWeight;
      text-transform: $calendarNextPrevTextTransform;
      font-size: $calendarNextPrevFontSize;
      font-family: $calendarNextPrevFontFamily;
      
      &:hover{
        color: $calendarNextPrevColorHover !important;
      }
      
      &:before,
      &:after{
        font-size: $calendarNextPrevIconFontSize;
        font-family: $calendarNextPrevIconFontFamily;
      }
    }
    
    //previous month link
    &.date-picker-select--prev{ 
      text-align: left !important;
      margin:0;
      
      a{
        &:before{
          display:inline-block;
          content: $calendarPrevIcon;
          margin-right:3px;
        }
      }
    }
    
    //next month link
    &.date-picker-select--next{
      text-align: right !important;
      margin:0;
  
      a{
        &:after{
          display:inline-block;
          content: $calendarNextIcon;      
          margin-left:3px;
        }
      }
    }
  }
  
  .lcms-calendar__table{
  
    th{
      background: $calendarDayHeaderBackground;
      
      height: $calendarDayHeaderHeight;
      border: $calendarDayHeaderBorder;
      
      span{
        color: $calendarDayHeaderColor;  
        font-weight: $calendarDayHeaderFontWeight;
        font-size: $calendarDayHeaderFontSize;
        padding: $calendarDayHeaderPadding;
        text-align: $calendarDayHeaderTextAlign;
        text-transform: $calendarDayHeaderTextTransform;
      }
    }
    
    
    //calendar days
    
    td.day-of-week{
      background: $calendarDayBackground;
      border: $calendarDayBorder;
      height: $calendarDayHeight !important;
      overflow-y: auto;
      padding: $calendarDayPadding !important;
      vertical-align: top;
      color: $calendarDayColor;
      font-size: $calendarDayFontSize;
      text-align: $calendarDayTextAlign;
      font-weight: $calendarDayFontWeight;
      font-family: $calendarDayFontFamily;
      
      .event-info__title{
        display:block;
        
        a{
          font-size: $calendarLinkFontSize;
          line-height: 1.2;
          color: $calendarLinkColor;
          
          &:hover{
            color: $calendarLinkColorHover;
          }
        }
      }
      
      span{
        //display:block;
        color: $calendarMetaColor;
        font-size: $calendarMetaFontSize;
        
        &:before{
          display:none;
        }
      }
    }
    
    td.month-day--other {
      color: $calendarOtherMonthDayColor;
      background: $calendarOtherMonthDayBackground;
    }
    
    td.day-of-week--weekend {
      background: $calendarWeekendDayBackground;
      color: $calendarWeekendDayColor;
    }
    td.month-day--today {
      color: $calendarTodayColor;
      background: $calendarTodayBackground;
      box-shadow: $calendarTodayBoxShadow;
    }
    
    .day-number{
      display:inline;
    }
  }
  
  /*--------------------------------
  	calendar view (responsive)
  --------------------------------*/
  
  @include breakpoint(small only) {

    .lcms-calendar{
    
      .date-picker-select{
        
        a{
          span{
            font-size:0;        
          }
          
          &:before,
          &:after{
            font-size: $responsiveCalendarNextPrevIconFontSize;
          }
        }
      }
    
         
      td.day-of-week{
        height:auto !important;
        display:none !important;
        
        &.hasEvents{
          display:block !important;
          
/*
          width:100% !important;
          border: 0;
          border-top: $responsiveCalendarTopBorder;
          font-size:1em;
          
          a{
            display: block;
            font-size: $responsiveCalendarLinkFontSize;
            margin-top:0.5em;
            color: $responsiveCalendarLinkColor;
          }
          
          br + br,
          span + br{
            display: none;
          }
        
          .day-number{
            display: block;
            font-weight: $responsiveCalendarDayOfMonthFontWeight;
            font-size: $responsiveCalendarDayOfMonthFontSize;
            color: $responsiveCalendarDayOfMonthColor;
            
            + br{
              display:none; //emove blank line after day of month
            }
          }
          
          .event-info__date,
          .event-info__time{
            font-size: $responsiveCalendarEventTime;
            display: block;
            margin-bottom: 0.5em;
          }
*/
          .day-number{
            &:before{
              display: inline;
            }
          }
  
        }
        
      
      	&:nth-of-type(1n) .day-number:before { content: 'Sunday '; }
      	&:nth-of-type(2n) .day-number:before { content: 'Monday '; }
      	&:nth-of-type(3n) .day-number:before { content: 'Tueday '; }
      	&:nth-of-type(4n) .day-number:before { content: 'Wednesday '; }
      	&:nth-of-type(5n) .day-number:before { content: 'Thursday '; }
      	&:nth-of-type(6n) .day-number:before { content: 'Friday '; }
      	&:nth-of-type(7n) .day-number:before { content: 'Saturday '; }
        
      }
    }

  }
  
}


/*--------------------------------
	list view
--------------------------------*/
  
@mixin lcms_calendar_list(  
  $eventListFeaturedImageWidth: 100%,
  $eventListFeaturedImageMaxWidth: 100%,
  $eventListFeaturedImageMargin: 0 0 1em 0,
  $eventListFeaturedImagePadding: 0,
  
  $eventListThumbnailWidth: 20%,
  $eventListThumbnailFloat: left,
  $eventListThumbnailPadding: 0 1em 0 0,
  
  $eventListThumbnailImageWidth: 100%,
  $eventListThumbnailImageMaxWidth: 100%,
  $eventListThumbnailImageMargin: 0,
  $eventListThumbnailImagePadding: 0,
  
  $eventListContentWithThumbnailWidth: 75%,
  $eventListContentWithThumbnailFloat: left,
  
  $eventListLinkLineHeight: 1.2,
  $eventListLinkColor: $body-font-color,
  $eventListLinkColorHover: $anchor-color-hover,
  $eventListLinkFontSize: em-calc(16),
  $eventListLinkFontWeight: normal,
  
  $eventListDateColor: $colorGrey,
  $eventListDateFontSize: em-calc(12),
  
  $eventListTimeColor: $eventListDateColor,
  $eventListTimeDivider: " -",
  
  $eventListDescriptionFontSize: em-calc(14),
  $eventListDescriptionColor: scale-color($body-font-color, $lightness: +25%)
){
  
  .eventsList{
    > ul{
      margin-left:0;
      
      > li{
        padding: 0 0 0.5em 0;
        list-style:none;
        @include clearfix;
        
        .eventFeaturedImage{
          a{
            img{
              width: $eventListFeaturedImageWidth;
              max-width: $eventListFeaturedImageMaxWidth;
              margin: $eventListFeaturedImageMargin;
              padding: $eventListFeaturedImagePadding;
            }
          }
        }
        
        .eventThumb{
          width:$eventListThumbnailWidth;
          float:$eventListThumbnailFloat;
          padding:$eventListThumbnailPadding;
          
          a{
            img{
              width: $eventListThumbnailImageWidth;
              max-width: $eventListThumbnailImageMaxWidth;
              margin: $eventListThumbnailImageMargin;
              padding: $eventListThumbnailImagePadding;
            }
          }
        }
        
        .eventThumb + .eventContent{
          //event thumbnail is visible
          width: $eventListContentWithThumbnailWidth;
          float: $eventListContentWithThumbnailFloat;
        }
        
        .eventContent{        
          a{
            line-height:$eventListLinkLineHeight;
            font-size: $eventListLinkFontSize;
            color: $eventListLinkColor;
            font-weight: $eventListLinkFontWeight;      
            
            &:hover{
              color: $eventListLinkColorHover;
            }
          }
        
          .eventDate{
            line-height:1;
            color: $eventListDateColor;
            font-size: $eventListDateFontSize;
          }
          
          .eventTime{
            color: $eventListTimeColor;
            
            &:before{
              content: $eventListTimeDivider;
              display:inline;
            }
          }
          
          .eventDescription{
            
            p{
              font-size:$eventListDescriptionFontSize;
              color: $eventListDescriptionColor;
              
              &:first-child{
                padding-top:0.5em;
              }
                      
              &:empty{
                display:none;
              }
            }         
          }
        }
      }  
    }
  }
  
}


  /*--------------------------------
  	event detail page
  --------------------------------*/
@mixin lcms_calendar_detail(
  $eventDetailFeaturedImageWidth: 100%,
  $eventDetailFeaturedImageMaxWidth: 100%,
  
  $eventDetailEventDateFontSize: em-calc(20),
  $eventDetailEventDateMargin:0 0 em-calc(10) 0,
  
  $eventDetailBackLinkFontSize: 1em,
  $eventDetailBackLinkColor: $anchor-color,
  $eventDetailBackLinkColorHover: $anchor-color-hover
){
  
  .dynamic-calendardetail{
    .eventFeaturedImage{
      width: $eventDetailFeaturedImageWidth;
      max-width: $eventDetailFeaturedImageMaxWidth;
      
      img{
        width: $eventDetailFeaturedImageWidth;
        max-width: $eventDetailFeaturedImageMaxWidth;
      }
    }
    
    h2{
      
    }
    
    .eventDate{
      font-size: $eventDetailEventDateFontSize;
      margin: $eventDetailEventDateMargin;
    }
    
    .eventBody{
      
    }
    
    .eventBack{
      p{
        a{
          font-size: $eventDetailBackLinkFontSize;
          color: $eventDetailBackLinkColor;
          
          &:hover{
            color:$eventDetailBackLinkColorHover;
          }
        }
      }
    }
  }
}