/*--------------------------------
----------------------------------

  Form element

----------------------------------
--------------------------------*/


/*--------------------------------
	responsive form styles
--------------------------------*/

@mixin lcms_form( 
  $formFieldItemPadding: 0 0 1em 0,
  $formMultiColumnFieldSpacing: 0.35em,
  $formLargeFieldWidth: 100%,
  $formMediumFieldWidth: 600px,
  $formSmallFieldWidth: 400px,
  $formXSmallFieldWidth: 200px,  
  $formFieldNoteFontSize: em-calc(13),
  $formFieldNoteColor: $colorGrey,  
  $formFieldNameColor: $colorGrey,  
  $formFieldSectionbreakBorderTop: 1px solid #DDD,
  $formFieldSectionbreakFontSize: em-calc(13),
  $formFieldSectionbreakTextTransform: uppercase,
  $formFieldSectionbreakColor: #999,
  $formFieldSectionbreakTextAlign: left,
  $formFieldSectionbreakMargin: 1em 0 0 0,
  $formFieldSectionbreakPadding: 0 0 0.5em 0,
  
  //errors  
  $formErrorBackground: $colorRed,
  $formErrorColor: #fff,
  $formErrorPadding: 1em 2em,
  $formErrorBorder: 2px solid darken($colorRed, 30%),
  $formErrorMargin: 1em 0
) {

  .fieldItem{
    //@include grid-row();
    //@include grid-column-row();
    padding: $formFieldItemPadding;
    
    &.largeField{
      max-width: $formLargeFieldWidth;
    }
    
    &.medField{
      max-width: $formMediumFieldWidth;
    }
    
    &.smallField{
      max-width: $formSmallFieldWidth;
    }
    
    &.xsmallField{
      max-width: $formXSmallFieldWidth;
    }
    
    .fieldItemInner{
      @include grid-row($behavior:nest);
      
      .fieldTitle{
        @include grid-column($columns:12);
      }
      
      .fieldContent{
        @include grid-column($columns:12);
  
        .fieldRow{
          @include grid-row($behavior:nest);
          margin-bottom:0;
          
          .fieldBlock{
            
            .fieldNote{
              top: -1em;
              position: relative;
              font-size: $formFieldNoteFontSize;
              color: $formFieldNoteColor;
              padding-left:0.2em;
              
              &:empty{
                display:none;
              }
            }
            
            label.fieldName{
              color: $formFieldNameColor;
              padding-left:0.2em;
            }
            
            .fieldInstructions{
              &:empty{
                display:none;
              }
            }
          
          }
          
          &:last-child{
            input,select,textarea{
              margin-bottom:0;
            }
            .fieldNote{
              top:0;
            }
          }
        }
      }
    }
  }
  
  .fieldBlock{
    //default fieldblocks will be full width
    @include grid-column($columns:12);
  }
  
  .type-name{
    
    //simple name    
    .fieldBlock:nth-child(1):nth-last-child(2),
    .fieldBlock:nth-child(2):nth-last-child(1) {
    	@include grid-column(6);
    	
    	&:first-child{
        padding-right:$formMultiColumnFieldSpacing;
      }
      
      &:last-child{
        padding-left:$formMultiColumnFieldSpacing;
      }
    }    
    
    //full name
/*
    .fieldBlock:nth-child(1):nth-last-child(4),
    .fieldBlock:nth-child(2):nth-last-child(3),
    .fieldBlock:nth-child(3):nth-last-child(2),
    .fieldBlock:nth-child(4):nth-last-child(1) {
*/
    .fieldBlock:first-child:nth-last-child(4),
    .fieldBlock:first-child:nth-last-child(4) ~ .fieldBlock {
      @include grid-column(4);
      
      &:nth-child(1){
        @include grid-column(2);
        padding-right:$formMultiColumnFieldSpacing !important;
      }
      
      &:nth-child(2),
      &:nth-child(3){
        padding-left:$formMultiColumnFieldSpacing;
        padding-right:$formMultiColumnFieldSpacing;
      }
      
      &:nth-child(4){
        @include grid-column(2);
        padding-left:$formMultiColumnFieldSpacing !important;
      }
    }
    
    
  }
  
  .type-address{
    
    //US address, 
    .fieldRow:first-child:nth-last-child(3),
    .fieldRow:first-child:nth-last-child(3) ~ .fieldRow {   
      &:nth-child(3){ //target city/state/address row
        .fieldBlock{
          &:first-child{ //city
            @include grid-column(5);
            padding-right:$formMultiColumnFieldSpacing !important;
          }
          
          &:nth-child(2){ //state
            @include grid-column(4);
            padding-left: $formMultiColumnFieldSpacing !important;
            padding-right: $formMultiColumnFieldSpacing !important;
          }
          
          &:last-child{ //zip
            @include grid-column(3);
            padding-left:$formMultiColumnFieldSpacing !important;
          }
        }
      }
    }
    
    //international address
    .fieldRow:first-child:nth-last-child(4),
    .fieldRow:first-child:nth-last-child(4) ~ .fieldRow {
      &:nth-child(3),
      &:nth-child(4){
        .fieldBlock{
          @include grid-column(6);
        	
        	&:first-child{
            padding-right:$formMultiColumnFieldSpacing;
          }
          
          &:last-child{
            padding-left:$formMultiColumnFieldSpacing;
          } 
          
          .dropdown-image{
            display:none;
          }
        }        
      }
    }
  }
  
  .type-phone{

    .fieldRow{
      width:100%;
      max-width:400px;
    }    
    
    //US phone
    .fieldBlock:first-child:nth-last-child(3),
    .fieldBlock:first-child:nth-last-child(3) ~ .fieldBlock {
      &:first-child{ //(xxx)
        @include grid-column(4);
        padding-right:$formMultiColumnFieldSpacing !important;
      }
      
      &:nth-child(2){ //xxx-
        @include grid-column(4);
        padding-left:$formMultiColumnFieldSpacing !important;
        padding-right:$formMultiColumnFieldSpacing !important;
      }
      
      &:last-child{ //xxxx
        @include grid-column(4);
        padding-left:$formMultiColumnFieldSpacing !important;
      }
    }
  }
  
  .type-multiplechoice,
  .type-checkbox{
    .choice-option{
      display:block;
      
      input{
        margin-bottom:0;
      }
      
      label{
        margin-left:0.3em;
      }
      
      &:last-child{
        margin-bottom:1em;
      }
    }
  }
  
  .type-sectionbreak{
    border-top: $formFieldSectionbreakBorderTop;
    font-size: $formFieldSectionbreakFontSize;
    text-transform: $formFieldSectionbreakTextTransform;
    color: $formFieldSectionbreakColor;
    text-align: $formFieldSectionbreakTextAlign;
    margin: $formFieldSectionbreakMargin;
    padding-bottom: $formFieldSectionbreakPadding;
    
    .fieldTitle{
      display:inline-block;
      background:#fff;
      top: -0.65em;
      left: 1em;
      position: relative;
      padding: 0 1em;
    }
  }
  
  .type-date{
    .fieldRow{
      width:100%;
      max-width:400px;
    }
    
    .fieldBlock{
      &:first-child{ //MM
        @include grid-column(3);
        padding-right:$formMultiColumnFieldSpacing !important;
      }
      
      &:nth-child(2){ //DD
        @include grid-column(3);
        padding-left:$formMultiColumnFieldSpacing !important;
        padding-right:$formMultiColumnFieldSpacing !important;
      }
      
      &:nth-child(3){ //YYYY
        @include grid-column(4);
        padding-left:$formMultiColumnFieldSpacing !important;
        padding-right:$formMultiColumnFieldSpacing !important;
      }
      
      &:last-child{ //date picker
        @include grid-column(2);
        padding-left:$formMultiColumnFieldSpacing !important;
      }
    }
  }
  
  .type-time{
    .fieldRow{
      width:100%;
      max-width:300px;
    }
    .fieldBlock{
      &:first-child{ //hh
        @include grid-column(4);
        padding-right:$formMultiColumnFieldSpacing !important;
      }
      
      &:nth-child(2){ //mm
        @include grid-column(4);
        padding-left:$formMultiColumnFieldSpacing !important;
        padding-right:$formMultiColumnFieldSpacing !important;
      }
      
      &:last-child{ //am/pm
        @include grid-column(4);
        padding-left:$formMultiColumnFieldSpacing !important;
      }
    }
  }
  
  .type-price{
    .fieldBlock{
      @include grid-column(12);
      
      label,
      input,
      em{
        display:inline;
        top:0 !important;
      }
      
      label{
        margin-right:0.2em;
      }
      
      input{
        max-width:30%;
      }
    }
  }
  
  .submitButton{
    @extend .button;
  }
  
  
  
  
  
  .datePickerImage {
    cursor: pointer;
    
    .fieldName {
      text-indent: -9999em;
      overflow: hidden;
    }
  }
  #FBDatePicker {
    width: 184px;
    font-family: 'helvetica'1;
    font-size: 12px;
    z-index: 9999;
    background-color: #F9F9F9;
    padding: 3px;
    border: solid 1px #DDD;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    .fbdRow {
      clear: both;
      @include clearfix;
      border-bottom:1px solid #ddd;
      border-left:1px solid #ddd;
    }
    
    .fbdTitleRow{
      padding: 0.2em 0.5em;
      border-left: 0;
      box-sizing: border-box;
    }
    
    .fbdMove {
      width: 30%;
      float: left;
      cursor: pointer;
    }
    .fbdTitle {
      width: 40%;
      float: left;
    }
  
    .frbDayBlock {
      float: left;
      width: 25px;
      text-align: center;
      padding: 2px 0;
      cursor: pointer;
      display: block;
      border-right:1px solid #ddd;
      background:#fff;
    }
    .fbdDateFieldsRow {
      //float: right;
      position: relative;
      top:0.5em;
      border:0;
      
      input,
      select{
        margin-bottom:0.5em;
        float:left;
      }
      
      select{
        width:60%;
      }
      
      input{
        width:40%;
      }
    }
  }
  
  /*--------------------------------
  	errors
  --------------------------------*/
  .errorSummary{
    background: $formErrorBackground;
    color: $formErrorColor;
    padding: $formErrorPadding;
    border: $formErrorBorder;
    margin: $formErrorMargin;
    
    p{
      color: $formErrorColor;
      margin:0;
    }
  }
  
  .fieldItemError{
    position: relative;
    
    &:before{
      //height:100%;
      width:3px;
      background:$formErrorBackground;
      display:block;
      content:" ";
      position: absolute;
      top:0;
      left: -1em;  
      bottom: 1em;
    }
  }
  
  .hideTitle{
    .formTitle {
      display: none;
    }
  }
}

@mixin lcms_form_lightbox(  
  $formLightboxBackgroundColor: rgba(0,0,0,0.5),  
  $formConfirmationWidth: 600px,
  $formConfirmationHeight: 400px,
  $formConfirmationBackground: #fff,
  $formConfirmationPadding: 1rem
) {

  /*--------------------------------
  	lightbox
  --------------------------------*/
  
  .lightbox {
  	background-color: $formLightboxBackgroundColor;
  	opacity:1;
  	filter:alpha(opacity=100);
  	position:fixed!important;
  	height:100% important;
  }
  
  #lightbox_content {
  	position:fixed!important;
  	left:0;
  	top:0;
  	z-index:9500;
  }
  
  .lightbox-content {
  	width:$formConfirmationWidth;
  	height:$formConfirmationHeight;
  	display:block;
  }
  
  .mceListBoxMenu {
  	z-index:9999!important;
  }
  
  /*--------------------------------
  	confirmation message
  --------------------------------*/
  
  .confirmation-content {
  	width:$formConfirmationWidth;
  	height:$formConfirmationHeight;
  	display:block;
  	background: $formConfirmationBackground;
  }
  
  .confirmation-content-inner {
  	padding:2em 0 0;
  }
  
  .confirmation-content-message {
  	padding:1rem;
  	
  	a[href="javascript:location.href = location.href;"]:after{
      position: absolute;
      top: -0.8em;
      right: -0.8em;
      width: 2em;
      height: 2em;
      line-height: 1.8em;
      margin: 0;
      padding: 0;
      content: "x";
      cursor: pointer;
      display: block;
      background: #000;
      color: #fff;
      text-align: center;
      border-radius: 100%;
      font-weight: bold;
    }  
  } 
  
}