/*---------------------------------------------
-----------------------------------------------

  Image galleries and slideshows

-----------------------------------------------
---------------------------------------------*/

/*--------------------------------
	slideshow
--------------------------------*/

@mixin lcms_slideshow(
  $slideshowPrevNextBackground: rgba(0,0,0,0.8),
  $slideshowPrevNextColor:rgba(255,255,255,0.8),
  $slideshowPrevNextBackgroundHover: #000,
  $slideshowPrevNextColorHover:#fff,
  $slideshowPrevNextPadding:1rem,
  $slideshowPrevNextFontSize:20px
){
  .sldw_navigation{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    
    .sldw_next,
    .sldw_prev{
      position: absolute;
      right:0;
      top: 50%;
      transform: translateY(-50%);
      
      a{
        font-size:0;
        position: relative;
        min-width: $slideshowPrevNextFontSize;
        min-height: $slideshowPrevNextFontSize;
        display: block;
        background:$slideshowPrevNextBackground;
        padding:$slideshowPrevNextPadding;
        
        &:before{
          color:$slideshowPrevNextColor;
          display: block;
          content:"\f105";
          line-height: 1;
          font-family: FontAwesome;
          font-size: $slideshowPrevNextFontSize;
          text-rendering: auto;
          position: relative;
          min-width: $slideshowPrevNextFontSize;
          min-height: $slideshowPrevNextFontSize;
          text-align: center;
          text-indent: 0;
          font-smoothing: antialiased;
        }
        
        &:hover{
          background:$slideshowPrevNextBackgroundHover;  
          
          &:before{
            color: $slideshowPrevNextColorHover;
          }
        }
      }
    }
    
    .sldw_prev{
      left:0;
      right:auto;
      
      a:before{
        content:"\f104";
      }
    }
  }
}

/*--------------------------------
	darken/lighten
--------------------------------*/

[class^="darken"], 
[class*=" darken"],
[class^="lighten"], 
[class*=" lighten"]{
  .imageElement:not(.photoGalleryElement):before,
  .thumbnail .thumbContents a:before{
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
  }
  
  .imageElement{
    position: relative;
  }
  
  .thumbnail .thumbContents a {
    position: relative;
    display:inline-block;
  }
}

@for $i from 1 through 9 {
  .darken#{$i}0 {
    .imageElement:not(.photoGalleryElement):before,
    .thumbnail .thumbContents a:before{
      background: rgba(0,0,0,$i/10);
    }
  }
  
  .lighten#{$i}0 {
    .imageElement:not(.photoGalleryElement):before,
    .thumbnail .thumbContents a:before{
      background: rgba(255,255,255,$i/10);
    }
  }  
}

/*--------------------------------
	vignettes
--------------------------------*/

.darkVignette,
.lightVignette{
  .imageElement:not(.photoGalleryElement):before,
  .thumbnail .thumbContents a:before{
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle, transparent 40%, black 150%);
  }
  
  .imageElement{
    position: relative;
  }
  
  .thumbnail .thumbContents a {
    position: relative;
    display:inline-block;
  }
}

.lightVignette{
  .imageElement:not(.photoGalleryElement):before,
  .thumbnail .thumbContents a:before{
    background: radial-gradient(circle, transparent 40%, white 150%);    
  }
}


/*--------------------------------
	gallery block grid
--------------------------------*/

$galleryColumnsSpacing: $elementSpacing/2;

@for $i from 1 through 12 {
  .galleryColumns#{$i} {
    .photoGalleryElement{
      @include grid-layout($i, '.thumbnail', $galleryColumnsSpacing);
      
      .thumbnail{
        margin-bottom:$galleryColumnsSpacing;
      }
    }
  }
}

@each $bp in $breakpoint-classes {
  @include breakpoint($bp) {
    @for $i from 1 through 12 {
      .galleryColumns#{$i}-#{$bp} {
        .photoGalleryElement{
          @include grid-layout($i, '.thumbnail', $galleryColumnsSpacing);
          
          .thumbnail{
            margin-bottom:$galleryColumnsSpacing;
          }
        }
      }
    }  
  }
}


/*--------------------------------
	description formatting
--------------------------------*/
.showDescription,
.showDescriptionBottom{  
  @each $bp in $breakpoint-classes {
    @include breakpoint($bp) {
      &-#{$bp}{
        .description{
          display:block !important;
        }        
      }
    }    
  }
  
  &{
    @extend #{&}-small;
  } 
}

.showDescriptionRight{
  @each $bp in $breakpoint-classes {
    @include breakpoint($bp) {
      &-#{$bp}{
        .thumbContents{
          display:flex;
          
          .description{
            display: block !important;
            padding-left: $galleryColumnsSpacing;
          }
        }
      }
    }    
  }  
  
  &{
    @extend #{&}-small;
  } 
}

.showDescriptionLeft{
  @each $bp in $breakpoint-classes {
    @include breakpoint($bp) {
      &-#{$bp}{
        .thumbContents{
          display:flex;
          flex-direction: row-reverse;
          
          .description{
            display: block !important;
            padding-right: $galleryColumnsSpacing;
          }
        }
      }
    }    
  }  
  
  &{
    @extend #{&}-small;
  } 
}

.showDescriptionTop{  
  @each $bp in $breakpoint-classes {
    @include breakpoint($bp) {
      &-#{$bp}{
        .thumbContents{
          display:flex;
          flex-direction: column-reverse;
          
          .description{
            display: block !important;
          }
        }
      }
    }    
  } 
    
  &{
    @extend #{&}-small;
  } 
}



/*--------------------------------
	description on image
--------------------------------*/

@each $bp in $breakpoint-classes {
  @include breakpoint($bp) {
    .showDescriptionOnImage-#{$bp}{
      .thumbnail{
        text-align: center;
        
        .thumbContents{
          display: inline-block;
          position: relative;
          
          .description{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block !important;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }    
}

.showDescriptionOnImage{
  @extend .showDescriptionOnImage-small;
}


/*--------------------------------
	description on image hover
--------------------------------*/

@each $bp in $breakpoint-classes {
  @include breakpoint($bp) {
    .showDescriptionOnImageHover-#{$bp}{
      .thumbnail{
        text-align: center;
        
        .thumbContents{
          display: inline-block;
          position: relative;
          
          .description{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
          }
          
          &:hover{
            .description{
              display: block !important;
            }
          }
        }
      }
    }
  }    
}

.showDescriptionOnImageHover{
  @extend .showDescriptionOnImageHover-small;
}



/*--------------------------------
	caption formatting
--------------------------------*/

//caption is shown on bottom by default

.showCaptionRight{  
  @each $bp in $breakpoint-classes {
    @include breakpoint($bp) {
      &-#{$bp}{
        .thumbContents{
          display:flex;
          
          p{
            display: block !important;
            padding-left: $galleryColumnsSpacing !important;
            text-align: left;
          }
        }
      }
    }    
  }  
  
  &{
    @extend #{&}-small;
  } 
}

.showCaptionLeft{  
  @each $bp in $breakpoint-classes {
    @include breakpoint($bp) {
      &-#{$bp}{
        .thumbContents{
          display:flex;
          flex-direction: row-reverse;
          
          p{
            display: block !important;
            padding-right: $galleryColumnsSpacing !important;
            text-align: right;
          }
        }
      }
    }    
  }
  
  &{
    @extend #{&}-small;
  }   
}

.showCaptionTop{  
  @each $bp in $breakpoint-classes {
    @include breakpoint($bp) {
      &-#{$bp}{
        .thumbContents{
          display:flex;
          flex-direction: column-reverse;
          
          p{
            display: block !important;
          }
        }
      }
    }    
  }
  
  &{
    @extend #{&}-small;
  }   
}


/*--------------------------------
	caption on image
--------------------------------*/

@each $bp in $breakpoint-classes {
  @include breakpoint($bp) {
    .showCaptionOnImage-#{$bp}{
      .thumbnail{
        text-align: center;
        
        .thumbContents{
          display: inline-block;
          position: relative;
          
          p{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }    
}

.showCaptionOnImage{
  @extend .showCaptionOnImage-small;
}


/*--------------------------------
	caption on image hover
--------------------------------*/

@each $bp in $breakpoint-classes {
  @include breakpoint($bp) {
    .showCaptionOnImageHover-#{$bp}{
      .thumbnail{
        text-align: center;
        
        .thumbContents{
          display: inline-block;
          position: relative;
          
          p{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: none;
          }
          
          &:hover{
            p{
              display:block;
            }
          }
        }
      }
    }
  }    
}

.showCaptionOnImageHover{
  @extend .showCaptionOnImageHover-small;
}


/*--------------------------------
  image/gallery shapes
--------------------------------*/

.roundedImageCorners{
  .imageElement img{
    border-radius: $global-radius;
  }
}

.circularImage{
  .imageElement img{
    border-radius: 100%;
  }  
}

/*--------------------------------
	disable lightbox
--------------------------------*/
.disableLightbox{
  .photoGalleryElement{
    .thumbContents{
      > a{
        pointer-events: none;   
      }
    }
  }
}
