/*---------------------------------------------
-----------------------------------------------

  Styles that will only be visible to site
  administrators. Intended to imrove usability
  and enhance default system functionality.

-----------------------------------------------
---------------------------------------------*/

/*--------------------------------
  variables	
--------------------------------*/
$regionNameFontSize: rem-calc(12);
$regionNameBackgroundColor: #eee;
$regionNameColor: #aaa;
$regionNameBorderColor: #ddd;
$regionBoundaryBackgroundHover: #fafafa;
$regionBoundaryOutlineWidth: 10px;

/*--------------------------------
	styles
--------------------------------*/

//use to display notes within templates
.adminNote{
  display:none !important;  
  
  .lcms_AdminView &{
    display:block !important;
  }
}


//add titles and hover state styling to regions
.regionBoundary{
  position: relative;
  //z-index: 999;
  
  &:hover{
    box-shadow:0 0 2px $regionBoundaryOutlineWidth rgba(0,0,0,0.2);
    background: $regionBoundaryBackgroundHover;
    outline: $regionBoundaryOutlineWidth solid $regionBoundaryBackgroundHover;
    
    .regionName{
      display: block !important;
      margin: 0 auto;
      text-align: center;
      border: 1px solid $regionNameBorderColor;
      background: $regionNameBackgroundColor;
      border-radius: 0 2px 0 3px;
      font-size: $regionNameFontSize;
      color: $regionNameColor;
      position: absolute;
      padding: 0 20px;
      top: -($regionBoundaryOutlineWidth + 1);
      right: -($regionBoundaryOutlineWidth + 1);
      z-index: 1;
      pointer-events: none;
    }    
  }
}

.no-flick-transition{
  //fix disappearing pagebar on scroll
  backface-visibility: visible !important;
}